<ion-header-bar class="cred-header">
    <img src="img/rutan.png" alt="RutaN" />
</ion-header-bar>

<ion-content class="cred-content">
    
    <div class="cred-slogan">
        <div><img src="img/dron.png" alt="Dron" class="dron"></div>
        <img src="img/slogan.png" alt="Slogan" class="slogan">
    </div>

    <div class="cred-welcome">Bienvenidos</div>

    <form>       
        <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="off" autocorrect="off" mm-auto-focus ng-disabled="isBrowserSSO" class="cred-input">
        
        <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" ng-disabled="isBrowserSSO" class="cred-input">
        
        <button class="button button-block cred-button" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
    </form>

    <div class="cred-logos">
        <img src="img/logos.png" alt="Logos">
    </div>
    &nbsp;
</ion-content>
